node_modules
dist
.yarn
yarn-error.log
.DS_Store
yarn-error
package-lock.json
yarn.lock
.idea
.env
.env.dev
.env.pro
dist.zip
_raw/manifest.json
_raw/react-devtools.js
yarn-error.log
dist2
src/background/utils/firebase.config.json
dist.rar
dist.7z
.cursorrules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
dependency-usage.md
extension-dependencies.md
emulator-account.pkey
flow.json

playwright/.auth
