node_modules
dist
.yarn
yarn-error.log
.DS_Store
yarn-error
package-lock.json
yarn.lock
.idea
.vscode/
.env
.env.dev
.env.pro
dist.zip
_raw/manifest.json
yarn-error.log
dist2
src/background/utils/firebase.config.json